<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Linking External CSS from Static directory-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h3 style="text-align: center; font-family: fantasy; font-weight: lighter; padding: 20px; word-spacing: 5px; letter-spacing: 3px; text-decoration: underline;">CUSTOMER REGISTRATION FORM</h3>
			<form name="user" method="POST" action="{{ url_for('home') }}" class="form-group">
			<div class="row">
				<div class="col-md-3"> 
					<label name="name">Name</label>
					<input type="text" name="name" class="form-control">
				</div>
				<div class="col-md-3">
					<label name="email">Email</label>
					<input type="email" name="email" class="form-control">
				</div>
				<div class="col-md-3">
					<label name="dob">Date of Birth</label>
					<input type="Date" name="dob" class="form-control">
				</div>
				<div class="col-md-3">
					<label name="gender">Gender</label>
					<select name="gender" class="form-control">
						<option value="male" selected="selected">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 16px;">
				<div class="col-md-12" style="text-align: center;">
					<button class="btn btn-success">Submit</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</body>
</html>