<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h3 style="text-align: center; font-family: fantasy; font-weight: lighter; padding: 20px; word-spacing: 5px; letter-spacing: 3px; text-decoration: underline;">BLOG POST FORM</h3>
			<form name="post" method="POST" action="{{ url_for('posts') }}" class="form-group">
			<div class="row">
				<div class="col-md-4"> 
					<label name="title">Post Title</label>
					<input type="text" name="title" class="form-control">
				</div>
				<div class="col-md-4">
					<label name="body">Post Body</label>
					<input type="text" name="body" class="form-control">
				</div>
				<div class="col-md-4">
					<label name="user_selection">User Selection</label>
					<select name="user_selection" class="form-control">
						{% for user in all_user %}
						<option value="{{ user.id }}">{{ user.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 16px;">
				<div class="col-md-12" style="text-align: center;">
					<button class="btn btn-success">Submit Post</button>
				</div>
			</div>
		</form>
		</div>
		
	</div>
</body>
</html>